name: Beta releases

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
          
      - name: Generate Version.txt
        run: sudo ./getversion.sh workflow
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0
      - name: Install dependencies
        run: dotnet restore "AmongUsCapture\AmongUsCapture.csproj"
      - name: Publish
        run: |
          dotnet publish "AmongUsCapture\AmongUsCapture.csproj" -p:PublishProfile=LinuxProfilex64 -p:AssemblyVersion=0.0.1
      - name: Relocate
        run: |
          mv AmongUsCapture/bin/publish/linux-x64/AmongUsCapture AmongUsCapture-gtk-linux-x64
      - name: AmongUsCapture-beta
        uses: actions/upload-artifact@v2
        with:
          name: AmongUsCapture-beta
          path: AmongUsCapture-gtk-linux-x64

  windows-x86-build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0
      - name: Install dependencies
        run: dotnet restore "AmongUsCapture\AmongUsCapture.csproj"
      - name: Publish
        run: |
          dotnet publish "AmongUsCapture\\AmongUsCapture.csproj" -p:PublishProfile=WindowsProfilex32 -p:AssemblyVersion=0.0.1
      - name: Relocate
        run: |
          mv AmongUsCapture\\bin\\publish\\win-x86\\AmongUsCapture.exe AmongUsCapture-gtk-windows-x86.exe
      - name: AmongUsCapture-beta
        uses: actions/upload-artifact@v2
        with:
          name: AmongUsCapture-beta-x86.exe
          path: AmongUsCapture-gtk-windows-x86.exe

  windows-x64-build:
    runs-on: windows-latest
      
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0
          
      - name: Install dependencies
        run: dotnet restore "AmongUsCapture\AmongUsCapture.csproj"
      - name: Publish
        run: |
         dotnet publish "AmongUsCapture\\AmongUsCapture.csproj" -p:PublishProfile=WindowsProfilex64 -p:AssemblyVersion=0.0.1
      - name: Relocate
        run: |
          mv AmongUsCapture\\bin\\publish\\win-x64\\AmongUsCapture.exe AmongUsCapture-gtk-windows-x64.exe
      - name: AmongUsCapture-beta
        uses: actions/upload-artifact@v2
        with:
          name: AmongUsCapture-beta-x64.exe
          path: AmongUsCapture-gtk-windows-x64.exe